header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url('../../../assets/background1.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  color: rgb(255, 255, 255);
}

header h1 {
  font-size: 100px;
  margin-bottom: 100px;
  font-weight: bold;
}

.header__enter-key {
  font-size: 26px;
  font-style: italic;
}
