* {
  margin: 0;
  padding: 0;
}

/* Scrollbar styles */

::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 10px rgb(255, 255, 255);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: rgb(255, 255, 255);
  box-shadow: inset 0 0 6px rgba(255, 255, 255, 0.5);
}

/* Sound block */

.sound-switcher {
  position: fixed;
  top: 10px;
  left: 10px;
  color: rgba(255, 255, 255, 0.3);
  transition: all 0.3s ease-in-out 0s;
  cursor: pointer;
}

.sound-switcher:hover {
  color: rgb(255, 255, 255);
}

.sound-switcher:active {
  color: rgb(0, 0, 0);
}

.none {
  display: none;
}